@mixin props-plan {
    display: flex;
    justify-content: space-between;
    align-items: center;
} 
@mixin props-secciones {
    height: 200px;
    width: 430px;
    margin: 10px 15px;
}
@mixin props-productos {
    height: 150px;
    width: 300px;
    margin: 15px 20px;
}