@media(max-width:576px){
    .contenedor{
        overflow: hidden;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: 
        "a a"
        "b b"
        "c c"; 
    }
    .checkbtn{ 
        display: block;
        margin-left: 50%;
        margin-top: 10px;

    }


    .logo{
        display: flex;
    }
    .logo img{
        margin-left: 50px;
        margin-top: 10px;
        height: 40px;
        width: 70px;
    }
    .navegador{
        height: 95px;
    }
    .navegador ul{
        position:relative;
        padding-right: 30%;
        border: 5px solid black;
        flex-direction: column;
        border-radius: 7px;
        background: orange;
        left: -190%;
        text-align: center;
        transition: all .5s;
        list-style: none;
    }
    .navegador ul li{
        margin-top: 40px;
        
    }
    .navegador ul li a{
        margin-left: 67%;
        font-size: 15px;
        
        
    }
    .navegador ul li:first-child{
        margin-top: 220px;
    }
    .navegador ul li:last-child{
        margin-bottom: 40px;
    }

    #check:checked ~ ul{
        left: -115%;
    }
    .seccion__inicio{
        height: 600px;
    }
    .seccion__texto__inicio{
        display: inline-block;
        color: white;
        margin: 100px 200px 20px 60px;
    }
    .seccion__texto__inicio h1{
        margin-bottom: 30px;
        font-size: 20px;
        color: orange;
    }
    
    .seccion__texto__inicio h2{
        margin-bottom: 30px;
        font-size: 17px;
    }
    
    .seccion__texto__inicio p{
        margin-bottom: 30px;
        font-size: 13px;
    }

    .seccion__planes{
        overflow: hidden;
        display: grid;
        grid-template-rows: repeat(3, 1fr);
        grid-template-areas: 
        "a"
        "b"
        "c";
        }
    .seccion__plan1{
        grid-area: a;
        border: 5px solid white;
        margin: 5px 10px 5px -5px;
        background-color: black;
    }
        
    .seccion__planes .seccion__plan1 h3{
        margin-left: 20%;
        color: white;
    }
        
    .seccion__planes .seccion__plan1 img{
        height: 150px;
        width: 270px;
        margin: 8px 4%;
    }
    .seccion__planes .seccion__plan1 p{
        color: white;
        font-size: 10px;
        margin-right: 40%;
    }
    .seccion__planes .seccion__plan1 a{
        color: white;
        font-size: 10px;
        padding: 6px;
        margin-left: 5px;
        background-color: orange;
        border: 2px solid orange;
        border-radius: 3px;
        text-decoration: none;
    }
    .seccion__plan2{
        grid-area: b;
        border: 5px solid white;
        margin: 5px 10px 5px -5px;
        background-color: black;
    }
    
    .seccion__planes .seccion__plan2 h3{
        margin-left: 20%;
        color: white;
    }
    
    .seccion__planes .seccion__plan2 img{
        height: 150px;
        width: 270px;
        margin: 8px 4%;
    }
    .seccion__planes .seccion__plan2 p{
        color: white;
        font-size: 10px;
        margin-right: 40%;
    }
    .seccion__planes .seccion__plan2 a{
        color: white;
        font-size: 10px;
        padding: 6px;
        margin-left: 5px;
        background-color: orange;
        border: 2px solid orange;
        border-radius: 3px;
        text-decoration: none;
    }
    .seccion__plan3{
        grid-area: c;
        border: 5px solid white;
        margin: 5px 10px 5px -5px;
        background-color: black;
    }
    
    .seccion__planes .seccion__plan3 h3{
        margin-left: 20%;
        color: white;
    }
    
    .seccion__planes .seccion__plan3 img{
        height: 150px;
        width: 270px;
        margin: 8px 4%;
    }
    .seccion__planes .seccion__plan3 p{
        color: white;
        font-size: 10px;
        margin-right: 40%;
    }
    .seccion__planes .seccion__plan3 a{
        color: white;
        font-size: 10px;
        padding: 6px;
        margin-left: 5px;
        background-color: orange;
        border: 2px solid orange;
        border-radius: 3px;
        text-decoration: none;
    }
    .formulario{
        grid-area: c;
        color: black;
        text-align: center;
        margin: 50px 50px;
        padding: 40px 25px 70px 25px;
        background-color: orange;
         box-shadow: 0 5px 10px -5px rgb(124, 122, 122);
         border-radius: 5px;
    
    }
    .Nombre__ap input{
        font-size: 13px;
        margin: 10px 0;
        background: none;
        border:none;
        border-bottom: 1px solid black;
        outline: none;
        cursor: pointer;
        
    }
    .noticias input{
        margin-top: 20px;
    }

    .form{
        margin-top: 5px;
    }
    .form input{
        font-size: 11px;
    }
    .contactos h2{
        display: none;
    
    }
    .contactos p{
        display: none;
    }
    .seccion__nosotros{
        height: 500px;
    }
    .seccion__nosotros p{
        color: white;
        margin: 40px 60px 0 40px;
        font-size: 12px;
    }
    .Respuesta__faqs{
        color: white;
        font-size: 15px;
        margin: 15px 20px 10px 20px;
        
     }
     .seccion__faq{
        height: 500px;
        p{
            color: white;
            margin: 20px;
        }
     }
     
     .seccion__productos{
        overflow: scroll;
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-areas:
        "a"
        "b"
        "c"
        "d"
        "e";
        }
    .seccion__programas{
        grid-area: a;
        margin: 5% 32%;
        a{
            padding: 8px;
            margin-left: 50px;
        }
    }   
    .productos__cajones{
        grid-area: b;
        margin: 5px;
    }
    .seccion__productos .productos__cajones h4{
        margin-left: 45%;
    }
    .seccion__productos .productos__cajones img{
        height: 150px;
        width: 330px;
        margin: 8px 150px;
    }
    .seccion__productos .productos__cajones p{
        font-size: 10px;
        margin-left: 26%;
        margin-bottom: 1%;
    }
    .seccion__productos .productos__cajones a{
        font-size: 10px;
        padding: 6px;
        margin-left: 26%;
    }
    .productos__mancuernas{
        grid-area: c;
        margin: 5px;
    }
    .seccion__productos .productos__mancuernas h4{
        margin-left: 45%;
    }
    .seccion__productos .productos__mancuernas img{
        height: 150px;
        width: 330px;
        margin: 8px 150px;
    }
    .seccion__productos .productos__mancuernas p{
        font-size: 10px;
        margin-left: 26%;
        margin-bottom: 1%;
    }
    .seccion__productos .productos__mancuernas a{
        font-size: 10px;
        padding: 6px;
        margin-left: 26%;
    }
    .productos__discos{
        grid-area: d;
        margin: 5px;
    }
    .seccion__productos .productos__discos h4{
        margin-left: 45%;
    }
    .seccion__productos .productos__discos img{
        height: 150px;
        width: 330px;
        margin: 8px 150px;
    }
    .seccion__productos .productos__discos p{
        font-size: 10px;
        margin-left: 26%;
        margin-bottom: 1%;
    }
    .seccion__productos .productos__discos a{
        font-size: 10px;
        padding: 6px;
        margin-left: 26%;
    }
    .productos__pelotas{
        grid-area: e;
        margin: 5px;
    }
    .seccion__productos .productos__pelotas h4{
        margin-left: 45%;
    }
    .seccion__productos .productos__pelotas img{
        height: 150px;
        width: 330px;
        margin: 8px 150px;
    }
    .seccion__productos .productos__pelotas p{
        font-size: 10px;
        margin-left: 26%;
        margin-bottom: 1%;
    }
    .seccion__productos .productos__pelotas a{
        font-size: 10px;
        padding: 6px;
        margin-left: 26%;
    }
    .Pie__inicio{
        display: inline-block;
        
    }
    .Pie_redes{
        a{
            margin-left: 5%;
        }
        p{
            margin-left: 35%;
        }
        a:last-child{
            margin-left: 32%;
          }
        
    }
    .pie__linea1{
        display: none;
    }
    .pie__linea2{
        display: none;
    }
}