.seccion__faq{
   grid-area: b;
   background-image: url("../assets/imagen_home.jpg"); /*agrandar imagen */
   height: 900px;
   p{
      color: white;
      margin: 0 500px;
    }
}

.Pregunta__faqs{
    font-size: 25px;
    color: white;
    text-align: center;
    margin-top: 50px;
 }

 .Respuesta__faqs{
    color: white;
    display: block;
    font-size: 18px;
    margin: 40px 600px;
    
 }
 